.schedule-box {
  background-color: white;
}

.rightcol {
  background-color: white;
}

.scroll {
  overflow-y: scroll;
  height: 90vh;
}

.hour {
  font-size: x-large;
  text-align: right;
  background-color: #fff;
  min-width: 10%;
  padding-right: 1%;
}

.schedule-button {
  margin-right: -1px;
  margin-top: -1px;
  border: 1px solid #999;
  border-style: solid;
  border-width: 2px;
  border-top: none;
  min-width: 18%;
  min-height: 100px;
}

.date {
  margin-right: -1px;
  margin-top: -1px;
  background-color: #fff;
  border: 1px solid #999;
  min-width: 18%;
  text-align: center;
  border-width: 2px;
  font-size: x-large;
  border-style: solid;
  border-top-style: none;
}

.submit-button {
  background-color: #25e81f;
  border: none;
  border-radius: 12px;
  font-size: xx-large;
  width: 100%;
  float: center;
  cursor: pointer;
  color: white;
  opacity: 1;
  padding: 10px;
  outline: none;
}
