@import "../main.css";

.container-topbar {
  width: 100%;
}

.img-topbar {
  height: 60px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.account {
  position: absolute;
  top: 25%;
  right: 2%;
}
