@import "../main.css";

.container-topbar {
  width: 100%;
  background-color: lightgray;
}

.second-column {
  text-align: right;
}

.img-topbar {
  height: 60px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.account-topbar {
  height: 100%;
}
