@import "./main.css";

.login-container {
  padding-top: 10%;
  margin: auto;
  width: 80vw;
  height: 70vh;
}

.login-img {
  width: 40%;
  float: left;
}
.login-inputDiv {
  margin: 10vh 5vw 15vh 0;
  float: right;
}
.login-input {
  background-color: lightgray;
  border: none;
  border-radius: 12px;
  width: 100%;
  font-size: x-large;
  padding: 10px;
  margin: 1vh;
}

.login-input[type="submit"] {
  background-color: #25e81f;
  border: none;
  border-radius: 12px;
  font-size: xx-large;
  width: 60%;
  float: center;
  cursor: pointer;
  color: white;
  opacity: 1;
  padding: 10px;
  margin: 0 0 2% 23%;
  outline: none;
}

.login-input[type="submit"]:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.login-button {
  background-color: #25e81f;
  border: none;
  border-radius: 12px;
  font-size: xx-large;
  width: 60%;
  cursor: pointer;
  color: white;
  opacity: 1;
  padding: 10px;
  margin-left: 23%;
  outline: none;
}

.login-button:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.error-message {
  background-color: #ff8585;
  border-style: solid;
  border-color: #fc3f3f;
  border-width: thin;
  border-radius: 12px;
  text-align: center;
  font-size: x-large;
  width: 60%;
  opacity: 1;
  padding: 10px;
  margin-left: 23%;
  outline: none;
}
