@import "./main.css";

.register-container {
  margin: auto;
  padding-top: 10vh;
}

.register-container img {
  max-width: 100%;
}

.register-input {
  display: block;
  background-color: lightgray;
  border: none;
  border-radius: 12px;
  min-width: 100%;
  font-size: x-large;
  padding: 10px;
}

.register-input[type="submit"] {
  display: block;
  background-color: #15c31e;
  border: none;
  cursor: pointer;
  width: 20%;
  color: white;
  border-radius: 12px;
  font-size: x-large;
  padding: 10px;
  opacity: 1;
  outline: none;
}

.register-input[type="submit"]:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.register-header {
  color: #15c31e;
  height: 100%;
  width: 100%;
  font-size: 8vw;
  display: flex;
  align-items: center;
}
